.fillscreen {
  position: fixed;
}

.carousel img {
  object-fit: cover;
}

.carousel {
  text-align: center;
  position: relative;
  margin: auto;
  width: 100%;
}

/* .carouselCaption {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-bottom: 27%;
  margin-right: 40%;
}

.carouselCaption p {
  font-size: 65px;
} */
