/* Formatting for navigation bar */

/* 
.navbar {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  position: relative;
  height: auto;
  overflow: visible;
  padding: 15px;
  background-color: black;
  z-index: 2; 
} */

/* .navbar a {
  color: #c9c5c2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.1rem; 
} */

/* .loggedInContainer a {
  margin-right: 15px;
} */

/* .logoutButton {
  background-color: black;
  color: white;
  border: none;
} */

/* .navbar a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  color: white;
}

.navbar .active {
  border-bottom: 2px solid rgb(255, 255, 255);
} */
